
.main{
    padding-top: 25vmin;   
}

.hometitle{
    font-size: 8vmin;
    font-weight: bold;
}

.start {
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    font-size: 1rem;
    align-items: center;
    height: 48px;
    border-radius: 0.4rem;
    font-weight: 400;
    padding: 0 1.2rem;
    margin-left: 2vmin;
    color: #ddd;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15)!important;
    background: #254cdd;
    font-size: calc( 10px + 1vmin);
   }
   
   .followers {
    font-size: 0.8rem;
    color: #7f7f7f;
   }
   
   .start:hover {
    background: #4c6eec;
   }
   
   .illus{
       padding-top: 12vmin;
   }