@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.cont{
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    width: "100%";
    height: 40vmin;
    background-color: rgb(165, 88, 236);
    color: aliceblue;
    padding-bottom: 40px;
    padding-left: 40px;
    font-family: 'Montserrat','Courier New', Courier, monospace;
    font-size: 30px;
}

.cont1{
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* From uiverse.io by @adamgiebl */
.card {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat','Courier New', Courier, monospace;
    width: 800px;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mintbutton {
    margin-top: 50px;
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    font-size: 1rem;
    align-items: center;
    height: 48px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 1.2rem;
    color: #ddd;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15)!important;
    background: blueviolet;
   }
   
   .mintbutton:hover {
    background: rgb(175, 102, 243);
   }
   
   